---
import styles from "../Home.module.css";
import "../globals.css";
import Project from "../components/Project";
import SkillIcon from "../components/SkillIcon";
import { Image } from "astro:assets";
import * as Icons from "../components/icons";
import ModeToggle from "../components/ModeToggle";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Holii, soy Haruka, A veces programo cosas
    No soy Hayami lpm"
    />
    <meta
      property="og:description"
      content="Holii, soy Haruka, A veces programo cosas
    No soy Hayami lpm"
    />
    <meta property="og:title" content="Haruka Dev - I love .NET" />
    <title>Haruka Dev - I love .NET</title>
  </head>

  <body class="dark">
    <main class={styles.indexLayout}>
      <section class={styles.topbar}>
        <button class={styles.active}>
          <Icons.Home />
        </button>
        <!--
        <a href="https://google.com">
          <Icons.Newspaper />
	  </a>
	-->
        <a
          href="https://github.com/gxskpo/portfolio"
          target="_blank"
          aria-label="Source code"
        >
          <Icons.Code />
        </a>
        <ModeToggle client:load />
      </section>
      <section class={styles.info}>
        <div class={styles.aboutMe}>
          <span class={styles.avatar}>
            <Image
              alt="avatar"
              src="https://avatars.githubusercontent.com/u/97119998"
              width="80"
              height="80"
              loading="eager"
            />
            <div class={styles.details}>
              <h1>Haruka</h1>
              <p>16yo backend dev</p>
            </div>
          </span>
          <div class={styles.socialButtons}>
            <a
              href="https://paypal.me/gxskpo"
              target="_blank"
              aria-label="paypal"
            >
              <Icons.Paypal />
            </a>
            <a href="mailto:gxskpo@proton.me" target="_blank">
              <Icons.Mail />
            </a>
            <a
              href="https://github.com/gxskpo"
              target="_blank"
              aria-label="github"
            >
              <Icons.Github />
            </a>
            <a
              href="https://discordapp.com/users/1009516529395695777"
              target="_blank"
              aria-label="discord"
            >
              <Icons.Discord />
            </a>
            <a
              href="https://twitter.com/gxskpo"
              target="_blank"
              aria-label="twitter"
            >
              <Icons.Twitter />
            </a>
          </div>
        </div>
        <div class={styles.description}>
          <h2>About me</h2>
          <p>
            Hi! my name is Larissa, online I go by Haruka, I'm a 16yo mexican
            girl who likes programming and web backend development.
          </p>
        </div>
        <div class={styles.skills}>
          <h3>Skills</h3>
          <div class={styles.skillsIcons}>
            <SkillIcon name="C#">
              <Icons.CS />
            </SkillIcon>
            <SkillIcon name="JavaScript">
              <Icons.JS />
            </SkillIcon>
            <SkillIcon name="TypeScript">
              <Icons.TS />
            </SkillIcon>
            <SkillIcon name="Python">
              <Icons.PY />
            </SkillIcon>
            <!--
            <SkillIcon name="Rust">
              <Icons.RS />
            </SkillIcon>
	    -->
            <span style="background: transparent;"></span>
            <SkillIcon name="React">
              <Icons.React />
            </SkillIcon>
            <SkillIcon name="Next.js">
              <Icons.Next />
            </SkillIcon>
            <SkillIcon name="Node.js">
              <Icons.Node />
            </SkillIcon>
            <SkillIcon name=".NET">
              <Icons.DotNet />
            </SkillIcon>
            <SkillIcon name="Flask">
              <Icons.Flask />
            </SkillIcon>
            <SkillIcon name="SQLite">
              <Icons.SQLite />
            </SkillIcon>
            <SkillIcon name="MySQL">
              <Icons.MySQL />
            </SkillIcon>
          </div>
        </div>
      </section>
      <section>
        <h2 class={styles.projectsTitle}>My projects</h2>
        <div class={styles.projectsContainer}>
          <Project
            name="Sunburst"
            iconUrl="https://hwrk.lol/sunburst/avatar/default.png"
            description="Multi-purpose discord bot"
            url="https://github.com/gxskpo/sunburst"
          >
            <Icons.RS />
            <Icons.Discord />
          </Project>
          <Project
            name="Tiramisu"
            iconUrl="https://hwrk.lol/icons/tiramisu.jpeg"
            description="Discord API wrapper for .NET"
            url="https://github.com/gxskpo/Tiramisu"
          >
            <Icons.CS />
            <Icons.Discord />
          </Project>
          <Project
            name="Helix presence"
            iconUrl="https://avatars.githubusercontent.com/u/66235900?s=200&v=4"
            description="Simple Discord rich presence for Helix editor"
            url="https://github.com/gxskpo/helix-presence"
          >
            <Icons.RS />
            <Icons.Discord />
          </Project>
        </div>
      </section>
    </main>
  </body>
</html>
